:root {
  --negro: #393939;
  --tipo-principal: "metropolisregular" ,Helvetica, Arial, sans-serif;
  --tipo-bold: "metropolissemi_bold";
  --tipo-extra-bold: "metropolisextra_bold";
  --tipo-secundaria: "palanquin_darkregular";
}

@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  display: block;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  line-height: 1.4em;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes pumPum {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@font-face {
  font-family: "metropolisbold";
  src: url("fonts/metropolis-bold-webfont.woff2") format("woff2"), url("fonts/metropolis-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "metropolisextra_bold";
  src: url("fonts/metropolis-extrabold-webfont.woff2") format("woff2"), url("fonts/metropolis-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "metropolisextra_light";
  src: url("fonts/metropolis-extralight-webfont.woff2") format("woff2"), url("fonts/metropolis-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "metropolislight";
  src: url("fonts/metropolis-light-webfont.woff2") format("woff2"), url("fonts/metropolis-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "metropolisregular";
  src: url("fonts/metropolis-regular-webfont.woff2") format("woff2"), url("fonts/metropolis-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "metropolisregular_italic";
  src: url("fonts/metropolis-regularitalic-webfont.woff2") format("woff2"), url("fonts/metropolis-regularitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "metropolissemi_bold";
  src: url("fonts/metropolis-semibold-webfont.woff2") format("woff2"), url("fonts/metropolis-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "palanquin_darkregular";
  src: url("fonts/palanquindark-regular-webfont.woff2") format("woff2"), url("fonts/palanquindark-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*GLOBAIS*/
.wrapper {
  max-width: 1200px;
  margin: auto;
}

/*HEADER*/
.header {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  color: white;
  font-size: 1.2em;
  font-family: var(--tipo-bold);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.header_esq {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.header_h1 {
  margin: 0 1em 0 0;
}

.header_img {
  width: 9.7em;
}

.header_g {
  fill: white;
}

.header_ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.header_li {
  margin: 0 0.5em 0 0;
}

.header_svg {
  margin: 0 0.5em 0 0;
}

.header_btn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.header_menu {
  display: none;
  width: 2em;
  height: 2em;
}

/*DESLIZAR*/
.deslizar {
  width: 100%;
  min-height: 95vh;
  background: url(../assets/bac_tinder.jpg) center/cover fixed;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  font-family: var(--tipo-bold);
}
.deslizar::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.deslizar_h2 {
  margin: 0 0 1em 0;
  position: relative;
  z-index: 2;
  font-size: 4em;
}

.deslizar_btn {
  position: relative;
  z-index: 2;
}

/*TESTEMUHNOS*/
.testemunhos {
  padding: 5vh 0;
}

.testemunhos_wrapper {
  overflow: hidden;
}

.testemunhos_slider {
  width: 200%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
}

.testemunho_slide {
  padding: 1.5em;
  border-radius: 0.5em;
  border: 1px solid grey;
}

.testemunho_names {
  padding: 0 0 1em;
  margin: 0 0 1em;
  border-bottom: 1px solid grey;
  position: relative;
}
.testemunho_names::after {
  content: '"';
  position: absolute;
  top: 0;
  right: 0;
  font-size: 4em;
  font-family: "Courier New", Courier, monospace;
}

/*footer*/
.legal {
  margin: 0 0 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1em;
}

.app {
  margin: 0 0 1em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.app_h2 {
  margin: 0 1em 0 0;
}

.app_ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.app_li {
  margin: 0 1em 0 0;
}

.footer_claim {
  margin: 0 0 1em;
}

.footer_sub {
  border-top: 1px solid gray;
  padding-top: 1em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.faqs {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.faqs_li {
  display: flex;
}
.faqs_li::after {
  content: "/";
  display: block;
  margin: 0 1em;
}

@media (max-width: 760px) {
  .header_nav, .header_ul {
    display: none;
  }
  .header_menu {
    display: flex;
  }
  .testemunhos_slider {
    width: 600%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: unset;
  }
}

/*# sourceMappingURL=main.css.map */
